/* ---------------------------------------------------------
# Theme Options page style

---------------------------------------------------------- */
.kanagata_theme-options {
  line-height: 2em;
  line-height: 1.8em;
}
.kanagata_theme-options h2 {
  margin-bottom: 1em;
}
.kanagata_theme-options h3 {
  margin-bottom: 0.85em;
}
.kanagata_theme-options fieldset {
  padding-bottom: 1em;
  border-bottom: 1px dotted  #ccc;
}
